html {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    // align-items: center;
    // height: 100vh;
    font-family: "Roboto";
    line-height: 1.4;
    // background-image: url("../img/light2.jpg");
    min-height: 100%;
    background-size: cover;
    color: #363138;
    overflow-x: hidden;
}

.flip-card {
    width: 204px;
    height: 300px;
    position: absolute;
    border: solid thin grey;
    background-color: transparent;
    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all ease-in-out 0.8s;
        transform-style: preserve-3d;
    }
    .front,
    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .front {
        background-image: url("../img/svg/bgfh.svg");
    }
    .back {
        transform: rotateY(180deg);
        background-image: url("../img/7_federn.jpg");
    }
}

.flip-card:hover .inner {
    transform: rotateY(180deg);
}

.mobileTest {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
}

.words {
    opacity: 0;
}

#draggable {
    background-image: url("../img/0_narr.png");
}

#draggable2 {
    background-image: url("../img/1_magie.png");
}

.cards {
    width: 150px;
    height: 220px;
    background-size: cover;
    margin: 0.5rem;
    transition: transform ease-in-out 100ms;
    // transition: left ease-in-out 100ms;
    cursor: pointer;
    z-index: 2;

    // box-shadow: #a795b3 0.25rem 0.25rem 0.75rem;
}

.shadows {
    -webkit-box-shadow: 31px 0px 26px -31px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 31px 0px 26px -31px rgba(0, 0, 0, 0.75);
    box-shadow: 31px 0px 26px -31px rgba(0, 0, 0, 0.75);
}

.flippedBox {
    background: #5f407c;
    border: none !important;
    /* margin: 1rem; */
    padding: 1rem;
    transition: all ease-in-out 200ms;
}

.flippebBox::after {
    content: "Auf dem Kopf";
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
}

.dropzone {
    transition: all ease-in-out 200ms;
    // z-index: -1;
}

#dropzone {
    position: relative;
}

.cards:hover {
    transform: scale(1.05);
    transform: translateX(1.75rem) rotate(5deg);
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.8s;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-image: url("../img/svg/bgfh2.svg");
    background-size: cover;
}

.back {
    transform: rotateY(180deg);
    background-size: cover;
}

.cards + div {
    margin-left: -10.5rem;
}

.dropzone {
    width: 191px;
    height: 280px;
    border: dotted medium #d4d4d4;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        opacity: 1 !important;
    }
}

.logo {
    position: absolute;
    padding: 1rem 2rem;
    background: white;
    border-radius: 1rem;
}

.txtAussen {
    // font-family: "Nanum Myeongjo", serif;
    // font-family: "Tangerine", cursive;
    font-family: "DM Serif Text", serif;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: calc(center - 2rem);
    -ms-flex-pack: calc(center - 2rem);
    justify-content: calc(center - 2rem);
    width: 236px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #cab8cc;
    font-weight: 500;
    font-size: 1rem;
    flex-direction: column;
    margin-top: 1rem;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    letter-spacing: 1.25px;
}

.txtAussen::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 1px;
    background: #cab9cc;
    margin: 0 -3rem;
}

.txtAussen:first-child::before {
    // display: none;
}

.head {
    margin-bottom: 1rem;
    font-weight: 600;
}

.txtInnen {
    color: #cab8cc;
    font-weight: 500;
    font-size: 1rem;
    z-index: -4;
    text-align: center;
    // font-family: "Nanum Myeongjo", serif;
    // font-family: "Tangerine", cursive;
    // font-family: ;
    padding: 1rem;
    // letter-spacing: 1px;
}

.topBorder {
    width: 100%;
    height: 6rem;
    position: absolute;
    top: 20rem;
    z-index: -4;
    display: flex;
    .third {
        width: 34%;
        height: 0;
        transition: all ease-in-out 200ms;
    }
}

.activeHeight {
    height: 100% !important;
    background: #3c1a4f;
}

.activeHeight2 {
    height: 100% !important;
    background: #663383;
}

.activeHeight3 {
    height: 100% !important;
    background: #4c257d;
}

.cardwrapper {
    width: 100%;
    padding: 3rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* border-bottom: solid thin grey; */
    background: #220d2c;
    background-image: url("../img/bg_top.jpg");
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dropWrapper {
    display: flex;
    width: 100%;
    max-width: 960px;
    justify-content: space-between;
}

.zoneWrapper {
    margin: 1rem;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rahmen {
    width: 100%;
    background: #7a4797;
    height: 10px;
}

h2 {
    margin-bottom: 1.75rem;
}

.active {
    transform: scale(1.05);
    background: lightgray;
}

.kopf {
    padding: 1rem;
    margin-top: 2rem;
    background: #e43f6f;
    font-weight: 600;
}

.text,
.text2,
.text3 {
    font-size: 0.85rem;
}

.middle {
    margin: 0;
    padding: 1rem;
    // background: #e5ecf4;

    // background: #ffffff;
    // border-right: solid thin grey;
    // border-left: solid thin grey;
}

#shuffleBtn {
    padding: 1rem 3rem;
    /* background: #cbb8d2; */
    border: none;
    border-radius: 3rem;
    border: solid thin grey;
    background: none;
    font-weight: 700;
    position: relative;
    top: -1.45rem;
    background: white;
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 10;
}

.flip-horizontal-top {
    -webkit-animation: flip-horizontal-top 0.4s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
}

.flip-out-hor-top {
    -webkit-animation: flip-out-hor-top 0.45s
        cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.mischen {
    animation: mischen 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.shake-horizontal {
    -webkit-animation: shake-horizontal 0.8s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
}

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@-webkit-keyframes flip-out-hor-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        opacity: 0;
    }
}
@keyframes flip-out-hor-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        opacity: 0;
    }
}
@-webkit-keyframes flip-horizontal-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
}
@keyframes flip-horizontal-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mischen {
    0% {
        margin-left: -12.5rem;
    }
    50% {
        margin-left: -21.5rem;
    }
    100% {
        margin-left: -12.5rem;
    }
}

@media (max-width: 1024px) {
    .cardwrapper {
        background-image: none;
    }
}
