html {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    // align-items: center;
    // height: 100vh;
    font-family: "Roboto";
    line-height: 1.4;
    // background-image: url("../img/light2.jpg");
    min-height: 100%;
    background-size: cover;
}

.flip-card {
    width: 204px;
    height: 300px;
    position: absolute;
    border: solid thin grey;
    background-color: transparent;
    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all ease-in-out 0.8s;
        transform-style: preserve-3d;
    }
    .front,
    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .front {
        background-image: url("../img/bg_fh-100.jpg");
    }
    .back {
        transform: rotateY(180deg);
        background-image: url("../img/7_federn.jpg");
    }
}

.flip-card:hover .inner {
    transform: rotateY(180deg);
}

.mobileTest {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
}

.words {
    opacity: 0;
}

#draggable {
    background-image: url("../img/0_narr.png");
}

#draggable2 {
    background-image: url("../img/1_magie.png");
}

.cards {
    width: 204px;
    height: 300px;
    background-size: cover;
    margin: 0.5rem;
    transition: transform ease-in-out 100ms;
    cursor: pointer;
    z-index: 2;
    // box-shadow: #a795b3 0.25rem 0.25rem 0.75rem;
}

.flippedBox {
    background: #5f407c;
    border: none !important;
    /* margin: 1rem; */
    padding: 2rem;
    transition: all ease-in-out 200ms;
}

.flippebBox::after {
    content: "Auf dem Kopf";
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
}

.dropzone {
    transition: all ease-in-out 200ms;
    // z-index: -1;
}

#dropzone {
    position: relative;
}

.cards:hover {
    transform: scale(1.05);
    transform: translateX(-1.75rem) rotate(5deg);
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.8s;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-image: url("../img/bg_fh.png");
    background-size: cover;
}

.back {
    transform: rotateY(180deg);
    background-size: cover;
}

.cards + div {
    margin-left: -12rem;
}

.dropzone {
    width: 230px;
    height: 325px;
    border: dashed thick #e5e5e5;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        opacity: 1 !important;
    }
}

.txtAussen {
    display: flex;
    justify-content: calc(center - 2rem);
    width: 236px;
    text-align: center;
    justify-content: center;
    color: #e5e5e5;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.head {
    margin-bottom: 1rem;
    font-weight: 600;
}

.txtInnen {
    color: #e5e5e5;
    font-weight: 700;
    font-size: 1.5rem;
}

.cardwrapper {
    width: 100%;
    // background: #856765;
    padding: 3rem 2rem;
    display: flex;
    // background-image: url("../img/table.jpg");
    background-size: cover;
    justify-content: center;
    border-bottom: solid thin grey;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dropWrapper {
    display: flex;
    width: 960px;
    justify-content: space-between;
}

.zoneWrapper {
    margin: 1rem;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 1.75rem;
}

.active {
    transform: scale(1.05);
    background: lightgray;
}

.kopf {
    border: solid thin grey;
    padding: 1rem;
    margin-top: 2rem;
    background: #ededed;
}

.text,
.text2,
.text3 {
    font-size: 0.85rem;
}

.flip-horizontal-top {
    -webkit-animation: flip-horizontal-top 0.4s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
}

.flip-out-hor-top {
    -webkit-animation: flip-out-hor-top 0.45s
        cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.mischen {
    animation: mischen 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@-webkit-keyframes flip-out-hor-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        opacity: 0;
    }
}
@keyframes flip-out-hor-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        opacity: 0;
    }
}
@-webkit-keyframes flip-horizontal-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
}
@keyframes flip-horizontal-top {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mischen {
    0% {
        margin-left: -12.5rem;
    }
    50% {
        margin-left: -21.5rem;
    }
    100% {
        margin-left: -12.5rem;
    }
}
